#headertrigger {
    width: 100%;
    padding: 15px 0;

    background: none;
    border: none;
    border-bottom: 2px solid black;

    font-size: 24px;
    font-weight: bold;
    text-align: left;

    cursor: pointer;
}

#texttrigger {
    max-height: 200px;
    overflow: hidden;

    transition: max-height 0.5s ease;
}

#texttrigger.collapsed {
    max-height: 0;
}